{% extends "base_generic.html" %}

{% load static %}

{% block scripts %}

<script src="{% static 'portal/js/portal.js' %}"></script>

{% endblock %}

{% block content %}
    <span class="card-title">{{event.event_name}}-{{event.event_date}}</span>


    <p><strong>Event name: </strong>{{event.event_name}}</p>
    <p><strong>Event date: </strong>{{event.event_date}}</p>
    <p><strong>Batch size: </strong>{{event.batch_size}}</p>  
    <p><strong>Event type: </strong>{% if event.event_type == 't' %}Trek{% else  %}Camping{%endif%}</p>
    </br>
    <a class="waves-effect waves-light btn" href = "{% url 'event-edit' pk=event.pk %}">Edit event</a>
    <a class="waves-effect waves-light btn modal-trigger" href = "#delete-event">Delete Event</a>
   
    <div id = 'delete-event' class="modal">
        <div class="modal-content">
            <h4>Delete Event: {{event.event_name}}</h4>
            <p>Are you sure you want to delete the event?</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'event-delete' pk=event.pk %}" class="waves-effect waves-green btn-flat">Yes</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
        </div>
    </div>
    
    <div id="modal-delete-booking" class="modal">
            <form method="post" action="" id="post-delete-booking">
                    {% csrf_token %}
                    <div class="modal-content">
                        <h4>Delete booking by <strong id ="modal-book-by"></strong>?</h4>
                        <p>Are you sure you want to delete this booking?</p>
                    </div>
                    <div class="modal-footer">
                        <button id = "modal-yes-button" href = "" class="modal-close waves-effect waves-green btn-flat" type="submit" name="action">Yes</button> 
                        <button href="#!" class="modal-close waves-effect waves-green btn-flat" type="button" name="action">No</button>
                    </div>
            </form>   
    </div>  
    
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add Bookings</span>
                    <form action="" method="post" id="post-form">
                        {% csrf_token %}
                        <input type="hidden" name="event" value={{event.pk}}>
                        <table>
                            {{ form.as_table }}
                        </table>
                        </br>
                        <button id = "js-booking-submit" class="btn waves-effect waves-light" type="submit" name="action" data-url = "{% url 'booking-new' pk=event.pk %}">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">All Bookings</span>
                    <span><h5>Total participants booked : <span id = "total-participants">{{total_participants}}</span></h5></span>
                    <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Booked by</th>
                                    <th>No. of participants</th>
                                    <th>Contact number</th>
                                    <th>Date of payment</th>
                                    <th>Mode of payment</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id = "booking-list">
                                {%include 'portal/event_participant_list.html'%}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}

