{% extends "base_generic.html" %}

{% block content %}

    <span class="card-title">Current Events</span>
    
    {% if events %}
    
        <ul class="collapsible popout" data-collapsible = "accordion">
    
        {% for event in events %}
        
            
                <li>
                    <div class="collapsible-header" style ="display: block">
                        <div class="row" style ="margin-bottom: 0">
                            <div class="col s6 m6 l6">
                                <div>{{event.event_name}}</div>
                            </div>
                            <div class="col s6 m6 l6">
                                <div class="right-align">{{event.total}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body"><div>{{event.total}}</div><div><a href="{% url 'event-detail' pk=event.pk %}">Go to event</a></div></div>
                </li>
           
            
        {% endfor %}
        
         </ul>
        
    {% else %}
    
        <p>There are no current events.</p>
    
    {% endif %}


{% endblock %}