<html lang='en'>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <style type="text/css">
           header, main, footer {
                    padding-left: 300px;
                }

           @media only screen and (max-width : 992px) {
                 header, main, footer {
                     padding-left: 0;
                }   
            }

        </style>

        <title>PHE Web Portal</title>

    </head>

    <body class="has-fixed-sidenav">

        <header>

            <!-- Navigation bar -->
            <div class="navbar-fixed">        
                <nav class = "navbar">       
                    <div class="nav-wrapper">
                        <a href="{% url 'index'%}" class="brand-logo grey-text text-darken-4" style = 'padding-left: 15px !important;'>PHE Web Portal</a>
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    </div>
                </nav>              
            </div>
        
            <!-- Side bar --> 
            <ul id="slide-out" class="sidenav sidenav-fixed">
                <li><a href="{% url 'index'%}">View current events</a></li>
                <li><a href="{% url 'event-new'%}">Create new event</a></li>               
            </ul>

             <!-- grid/cards -->
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-content">
                        {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    
        </header>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            $(document).ready(function(){


                $('.sidenav').sidenav();
                $('.collapsible').collapsible();
                $('.datepicker').datepicker({format : 'dd/mm/yyyy'});
                $('select').formSelect();
                $('.modal').modal();

                $('#post-form').on('submit', function(event){
                    event.preventDefault();
                    var serializedData = $(this).serialize();

                    $.ajax({
                        type : 'POST',
                        url : "{% url 'event-detail' pk=event.pk %}",
                        data : serializedData,
                        success : function(data){
                            $('#post-form')[0].reset();
                            $('#total-participants').text(data.total_participants);
                            $('#booking-list').append("<tr> <td>" + data.booked_by 
                            + "</td> <td>" + data.participants_count 
                            + "</td> <td>" + data.contact_number 
                            + "</td> <td>" + data.date_of_payment 
                            + "</td> <td>" + data.mode_of_payment 
                            +  "</td> </tr>" );
                        },
                    })
                });

            })
        </script>

    </body>


</html>

